.container {
    // max-width: 1200px;
    // margin: 0 auto;
    // margin: 0 12px;
    overflow: hidden;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;
}
.col {
    padding: 0 4px;
}
@for $i from 1 through 12 {
    .col-#{$i} {
        flex: 0 0 calc(100% / 12 *#{$i});
        max-width: calc(100% / 12 *#{$i});
    }
}
